* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  Arial, Helvetica, sans-serif
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1c1e21;
    position: relative;
}

.container {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    gap: 40px;
    flex: 1;
    width: 100%;
}
.logo {
    position: absolute;
    top: 40px;
    left: 30px;
}
.left {
    flex: 1;
    padding-top: 90px;
    text-align: center;
    line-height: 60px;
    font-size: 35px;
}
.right {
    font-family: sans-serif;
    border-left: 2px solid rgb(223, 222, 222);
    padding: 160px 100px 200px 50px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 500;
    font-size: 20px;

}
.right input{
    padding: 10px;
    width: 110%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid lightgray;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 13px;
}
.right button{
    width: 110%;
    height: 40px;
    border-radius: 25px;
    border: 1px solid lightgray;
    margin-bottom: 12px;
    font-size: 15px;
}
.login-part {
    margin-bottom: 50px;
}
.login-part a {
    width: 110%;
    display: block;
    text-align: center;
    color: #1c1e21;
    text-decoration: none;
    margin-top: 6px;
    font-size: 15px;
}
.login-part p {
    margin-bottom: 10px;
}
.login-part a:hover {
    text-decoration: underline;
}
.login {
    background-color: rgb(0, 136, 244)  ;
    color: white;
    text-align: center;
}
.facebook {
    width: 110%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 25px;
    margin-bottom: 10px;
}
.facebook a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #1c1e21;
    font-size: 14px;
}
.other-part button {
    border-color: rgb(0, 136, 244);
}
.new-acc {
    background-color: white;
    border-color: rgb(0, 136, 244);
    color: rgb(0, 136, 244);
}
.meta {
    width: 110%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #1c1e21;
    font-size: 14px;
}
.gradient{
    background: linear-gradient(to right, orange, red, purple);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    display: inline;
}
.footer {
    border-top: 1px solid lightgray;
    padding: 20px;
    color: gray;
    text-decoration: None;
    font-size: 12px;
    text-align: center;
}
.footer a{
    color: gray;
    text-decoration: None;
    margin: 8px;
    font-size: 12px;
}
.footer-links {
    margin: 10px;
}